.startContainer {
  background: linear-gradient(
    to bottom right,
    #fff 0%,
    #fff 50%,
    #fff3eb 50%,
    #fff3eb 100%
  );
}

.startTitle {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20%;
}

@media (min-width: 48rem) {
  .startTitle {
    margin: 0;
    width: auto;
    text-align: left;
    margin-bottom: 5%;
  }
}

@media (min-width: 75rem) {
  .startTitle {
    font-size: 3.5rem;
    margin-bottom: 15%;
  }
}
