.gameContainer {
  width: 100vw;
  min-height: 100vh;
}

.gameContentBlock {
  width: 100vw;
  min-height: 100vh;
  padding: 18% 0 10%;
  position: relative;
  background-color: #f5f5f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameQuestion {
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 10%;
}

.boardBlock {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7;
}

.boardBlock_active {
  display: flex;
}

.boardBlock_hidden {
  display: none;
}

.gameButton {
  position: absolute;
  top: 1.3125rem;
  right: 1.3125rem;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.openBoardButton {
  width: 1rem;
  height: 0.875rem;
  background-image: url(../../images/burger.svg);
}

.closeBoardButton {
  width: 0.8125rem;
  height: 0.8125rem;
  background-image: url(../../images/close.svg);
}

@media (min-width: 48rem) {
  .gameContainer {
    display: flex;
    flex-wrap: nowrap;
  }

  .gameContentBlock {
    width: 65%;
  }

  .boardBlock {
    position: relative;
    width: 35%;
    padding: 0;
    background-color: #fff;
  }

  .boardBlock_hidden {
    display: flex;
  }

  .gameButton {
    display: none;
  }
}

@media (min-width: 62rem) {
  .gameContentBlock {
    width: 74%;
    padding: 10% 5%;
  }

  .gameQuestion {
    text-align: left;
    padding: 0;
  }

  .answersBlock {
    display: flex;
    flex-wrap: wrap;
  }

  .boardBlock {
    width: 26%;
  }
}

@media (min-width: 75rem) {
  .gameContentBlock {
    padding: 5% 5%;
  }

  .gameQuestion {
    font-size: 2rem;
  }
}
