.mainButton {
  margin: 0 auto;
  width: 18rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #ff8b37;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
}

.mainButton:hover {
  background-color: #ffac70;
}

.mainButton:active {
  background-color: #e87928;
}

@media (min-width: 48rem) {
  .mainButton {
    position: relative;
    bottom: 0;
    left: 0;
    transform: translateX(0);
  }
}

@media (min-width: 62rem) {
  .mainButton {
    width: 18.5rem;
    height: 4rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
  }
}
