.blankAnswerOverlay {
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}

.blankAnswerOverlay::before {
  position: absolute;
  top: 50%;
  display: block;
  content: '';
  width: 100%;
  height: 0.0625rem;
}

.blankAnswerOverlay_inactive::before {
  background: #d0d0d8;
}

.blankAnswer {
  margin: 0 auto;
  position: relative;
  width: 18rem;
  height: 3.5rem;
}

.blankAnswer:disabled {
  color: #1c1c21;
}

.blankAnswerSvg {
  width: 18rem;
  height: 3.5rem;
}

.blankAnswerSvg_inactive path:hover {
  stroke: #ff8b37;
}

.blankAnswerOverlay_inactive::before :hover {
  background: #ff8b37;
}

.blankAnswerSvg_selected path {
  fill: #fff3eb;
  stroke: #ff8b37;
}

.blankAnswerOverlay_selected::before {
  background: #ff8b37;
}

.blankAnswerSvg_correct path {
  fill: #e6faea;
  stroke: #47d867;
}

.blankAnswerOverlay_correct::before {
  background: #47d867;
}

.blankAnswerSvg_wrong path {
  fill: #fdeeed;
  stroke: #ec6259;
}

.blankAnswerOverlay_wrong::before {
  background: #ec6259;
}

.blankAnswerText {
  max-width: 18rem;
  max-height: 3.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.25rem 1.5rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  overflow: hidden;
}

.blankAnswerText span {
  text-transform: uppercase;
  font-weight: 600;
  color: #ff8b37;
  margin-right: 0.5rem;
}

@media (min-width: 62rem) {
  .blankAnswerOverlay {
    width: 50%;
  }

  .blankAnswerOverlay:nth-of-type(3) {
    margin-bottom: 0;
  }

  .blankAnswerOverlay:nth-of-type(4) {
    margin-bottom: 0;
  }
}

@media (min-width: 75rem) {
  .blankAnswer {
    width: 23.3125rem;
    height: 4.5rem;
  }

  .blankAnswerSvg {
    width: 23.3125rem;
    height: 4.5rem;
  }

  .blankAnswerText {
    max-width: 23.3125rem;
    max-height: 4.5rem;
    padding: 0.5rem 32px;
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  .blankAnswerOverlay {
    width: 40%;
  }
}
