html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #ffffff;
  color: #1c1c21;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  border: none;
  background: none;
  outline: none;
}

h1,
ul,
p {
  margin: 0;
}

ul,
button {
  list-style: none;
  padding: 0;
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 1.875rem 0;
}

.contentOverlay {
  padding-top: 20%;
}

@media (min-width: 48rem) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contentOverlay {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contentBlock {
    width: 45%;
  }
}

@media (min-width: 75rem) {
  .contentOverlay {
    justify-content: space-evenly;
  }
  .contentBlock {
    width: 40%;
  }
}
